---
layout: default
title: VLOCA
teaser: Dit is de homepage-teaser
is_front: true
og-descrition: "Welcome to the homepage of VLOCA"
---
<div class="home layout">

  <section class="region intro">
    <div class='layout layout--wide'>
      <div class="grid">
        <div class="col--6-12 col--1-1--s">
          <h1 class="h1">VLOCA Portaal</h1>
          <p class="introduction">Bouw mee aan diverse projecten en toepassingen voor een slimme Vlaamse regio.</p>
          <a class="button button__primary" href="{{ site.baseurl }}/over-vloca">Meer weten over VLOCA</a>
        </div>
        <div class="col--6-12 col--1-1--s">
		<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/yZTfyZCaSLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="region">
    <div class='layout layout--wide'>
      <div class="direct-to wide">
        <label>Direct naar</label>
        <div class="grid">
          {% assign directs = site.directs | where:'type', 'home' %}
          {% for direct in directs %}
          <div class="col--4-12 col--6-12--s col--1-1--xs">
            {% if direct.exturl %}
              <a href="{{ direct.exturl | absolute_url }}" target="_blank" class="link--icon--external link--block">{{ direct.title }}</a>
            {% else %}
              <a href="{{ site.baseurl }}{{ direct.inturl }}" class="link--icon--caret link--block">{{ direct.title }}</a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="region news">
    <div class='layout layout--wide'>
      <div class="grid grid--align-space-between--l grid--align-space-between--m grid--v-bottom overview-header">
        <div class="col">
          <h2 class="h3" id="nieuws">Laatste nieuws</h2>
        </div>
        <div class="col">
          <a class="link--icon--caret strong hide-mobile" href="{{ site.baseurl }}/nieuws">Bekijk alle nieuwsberichten</a>
        </div>
      </div>
      <div class="grid grid--is-stacked u-spacer">
        {% assign posts = site.posts | sort: 'date' | sort: 'highlight' | reverse %}
        {% for post in posts limit : 6  %}
        <div class="col--4-12 col--6-12--s col--1-1--xs">
          <div class="spotlight yellow spotlight--link">
            <article>
              <a href="{{ post.url | relative_url}}" >
              <header class="spotlight__header">
                <div class="spotlight__image spotlight__image--focus-center-center">
                  <img class="spotlight__image__img" src="{{ post.thumb | relative_url}}" alt="">
                </div>
                <div class="spotlight__title-wrapper">
                  <h1 class="spotlight__title">{{ post.title | escape }}</h1>
                </div>
              </header>
              <div class="spotlight__text-wrapper">
                <div class="spotlight__text">
                  {{ post.teaser | escape }}
                </div>
              </div>
              </a>
              <div class="category bullet-list bullet-list--tag">
                <div class="bullet-list__item">
                  {% for category in post.categories %}
                  {% assign category-path = category | replace: ' ', '-' | downcase%}
                  <a href="{{site.baseurl}}/nieuws/{{category-path}}">{{ category | capitalize }}</a>{% if forloop.last != true %}, {% endif %}
                  {% endfor %}
                </div>
              </div>
            </article>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="link--icon--caret strong hide-desktop" href="{{ site.baseurl }}/nieuws">Bekijk alle nieuwsberichten</a>
    </div>
  </section>

  <section class="region">
    <div class='layout layout--wide'>
      <div class="grid grid--is-stacked">
        <div class="col--1-1">

          <div class="quote">
            <div class="quote__image-wrapper">
              <img class="quote__image" src="{{ site.baseurl }}/assets/img/quote/bart_somers.jpg" alt="" />
            </div>
            <div class="quote__content">
              <div class="quote__text">We moeten werken aan onze slimme steden. Dat is een positieve les die we moeten trekken uit de coronacrisis. Daarom zetten we VLOCA op, de Vlaamse Open City Architectuur.
              </div>
              <div class="quote__author">Bart Somers, Vlaams minister voor Binnenlands Bestuur en Stedenbeleid</div>
              <div class="quote__reference">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="region">
  </section>


  <section class="region no-pad">
    <div class="block content-split">
        <div class="col img" style="background-image:url({{ site.baseurl }}/assets/img/homepage/hand.png)"></div>
        <div class="layout layout--wide">
          <div class="content__wrapper col--6-12 col--1-1--s push--1-2--l push--1-2--m push--reset--s">
            <h2 class="h3">Co-creatie is essentieel</h2>
            <p>Werk je binnen een lokaal bestuur aan een slim beleid? Ben je aanbieder van innovatieve ICT-oplossingen of doe je academisch onderzoek in dit domein? Maak je deel uit van een burgerinitiatief dat op zoek gaat naar slimme stadsoplossingen? Dan doen we graag beroep op jouw ideeën, kennis en ervaring.</p>
            <hr class="wave hr" />
            <h3 class="h4">Vind het op onze kennishub</h3>
            <p>De VLOCA Kennishub is gebaseerd op een MediaWiki platform. Dit laat toe om principes, concepten, componenten, … van VLOCA in detail te beschrijven, met ruimte om aanpassingen aan te brengen door iedereen die zich registreert. Zo komen we tot gedragen definities en standaarden.</p>
          </div>
        </div>
    </div>
  </section>


<section class="region">

  <div class="layout layout--normal">
    <div class="block crosslink alt shadow">
      <div class="crosslink__icon">
        <div class="badge badge--accent badge--l badge--icon">
          <i class="badge__icon vi vi-addressbook" aria-hidden="true"></i>
        </div>
      </div>
      <div class="crosslink__text">
        <h2 class="h4">Meer weten over de kennishub?</h2>
        <p>Alles wat je moet weten om te kunnen samenwerken.</p>
      </div>
      <div class="crosslink__cta">
        <a class="button button__primary" href="https://vloca-kennishub.vlaanderen.be/" target="_blank">Kennishub</a>
      </div>
    </div>
  </div>

</section>

  <section class="region">
    <div class="layout layout--wide">

      {% include top-faq.html %}

    </div>
  </section>

</div>
