---
layout: default
title: Nieuws
teaser: Lees hier de allerlaatste nieuws en blog berichten rond de Open City Architectuur
permalink: /nieuws/
order: 1
---
<div class="page">
    <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
        <section class="region">
            <div class="layout layout--wide">
                <div class="grid">
                    <div class="col--4-6 col--1-1--s">
                        <div>
                        <h1 class="h1">Nieuws</h1>
                            <section class="region">
                                <ul class="post-list">
                                    {% for post in site.posts %}
                                        <li>
                                          <!-- komt vanop de homepage -->
                                          {{ post.date | date: "%d %b %y" }}
                                            <span class="post-meta">{% if post.author %}{{ post.author }} - {% endif %}{{ post.date | date: "%b %-d, %Y" }}</span>
                                            <h2 class="h2">
                                                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                                            </h2>
                                            <p >{{ post.excerpt }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </div>
                    </div>

                    <div class="col--2-6 col--1-1--s">
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
