---
layout: default
title: Trajecten
teaser: Dit is de trajecten-teaser
order: 2
bodyclass: "trajecten"
---
<section class="region">
	<div class="layout layout--wide trajecten">

		<h1 class="h1" id="trajecten">Trajecten</h1>
		<div class="introduction">
			<p>Een VLOCA-traject is een <strong>reeks van workshops</strong> met verschillende belanghebbenden, <strong>ingeleid door een kennismakingsmoment</strong>. We focussen daarbij telkens op één van de vier VLOCA bouwlagen (toepassingen, business services, data en infrastructuur) om zo in co-creatie bottom-up het thema te vertalen naar mogelijke VLOCA principes en componenten. Naast het VLOCA verhaal, stellen we vast dat deze workshops ook vaten van inspiratie en kiemen van samenwerking zijn, want je komt te weten wat andere initiatiefnemers ondernemen, je legt linken, je staat niet alleen.
			 We vertrekken niet van nul: de <a href="https://vloca-kennishub.vlaanderen.be/vloca-kennishub/Welkom_bij_de_Vlaamse_Open_City_Architectuur_(VLOCA)_Kennishubf"target="_blank">VLOCA kennishub</a> vormt een belangrijke basis voor de co-creatieve standaardisatietrajecten van componenten voor de slimme stad. Ook de keuze voor de eerste thema’s vloeit voort uit de voorstellen op de kennishub en de lopende <a href="https://www.vlaio.be/nl/andere-doelgroepen/city-things-slimme-steden-en-gemeenten"target="_blank">City of Things projecten</a>.
			</p>

		</div>

		<div class="grid grid--is-stacked u-spacer">
			{% assign sorted = site.trajecten | sort: 'highlight' | reverse %}
			{% for traject in sorted %}

				<div class="col--3-12 col--4-12--m col--6-12--s col--1-1--xs">
					<a href="{{ traject.url | relative_url}}" class="spotlight yellow">
						<article>
							<header class="spotlight__header">
								<div class="spotlight__image spotlight__image--focus-center-center">
									<img class="spotlight__image__img" src="{{ site.baseurl}}{{ traject.thumb | relative_url}}" alt="">
								</div>
								<div class="spotlight__title-wrapper">
									<h1 class="spotlight__title">{{ traject.title | escape }}</h1>
								</div>
							</header>
							<div class="spotlight__text-wrapper">
								<div class="spotlight__text">
									{{ traject.teaser | escape }}
								</div>
							</div>
							<div class="category bullet-list bullet-list--location">
								<div class="bullet-list__item">{{ traject.location | join: ", "}}</div>
							</div>
							<div class="category bullet-list bullet-list--tag">
								<div class="bullet-list__item">{{ traject.tags | join: ", "}}</div>
							</div>
						</article>
					</a>
				</div>

				<!-- contact blok op nieuwpagina -->
				{% if forloop.index0 == 1 %}
					<div class="col--1-1 show-mobile">
						{% include crosslink.html block-class="alt shadow" url="/contact/" title="Klaar om mee te helpen met onze community?" text="Maak een profiel aan op de VLOCA kennishub en deel jouw interesses" cta="Maak een profiel aan" icon="kennishub" %}
					</div>
				{% elsif forloop.index0 == 2 %}
						<div class="col--1-1 show-tablet">
						{% include crosslink.html block-class="alt shadow" url="/contact/" title="Klaar om mee te helpen met onze community?" text="Maak een profiel aan op de VLOCA kennishub en deel jouw interesses" cta="Maak een profiel aan" icon="kennishub" %}
						</div>
				{% elsif forloop.index0 == 3 %}
					<div class="col--1-1 show-desktop">
					{% include crosslink.html block-class="alt shadow" url="/contact/" title="Klaar om mee te helpen met onze community?" text="Maak een profiel aan op de VLOCA kennishub en deel jouw interesses" cta="Maak een profiel aan" icon="kennishub" %}
					</div>
				{% endif %}
				<!-- end contact block -->

			{% endfor %}

	  </div>
	</div>
</section>
