<header class="content-header" role="banner">
	<div class="content-header__wrapper">
		<picture>
		<source media="(min-width: 1024px)" srcset="{{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg 1x">
			<source media="(max-device-width: 767px)" srcset="{{ site.baseurl }}/assets/img/page_banner_mobile_alt/header.jpg 1x">
				<source media="(max-width: 1023px)" srcset="{{ site.baseurl }}/assets/img/page_banner_narrow/header.jpg 1x">
					<img alt="" src="{{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg" srcset="{{ site.baseurl }}/assets/img/page_banner_mobile_alt/header.jpg 320w, {{ site.baseurl }}/assets/img/page_banner_narrow/header.jpg 1024w, {{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg 1600w" title="">
		</picture>

		<div class="layout layout--wide">
			<div class="content-header__content">
				<h1 class="content-header__title"><span class="content-header__title__content">Vlaamse Open City Architectuur</span>
				</h1>
			</div>
		</div>
	</div>
</header>
<div class="tabs__wrapper">
  <ul class="tabs tabs--alt" data-tabs-list>
      <li class="tab">
        <a class="tab__link" href="{{ "/" | relative_url}}"><i class="fa fa-home" aria-hidden="true"></i></a>
      </li>
        {% assign mypages = site.pages | sort: "order" %}{% for my_page in mypages %}
            {% if my_page.title %}
                <li class="tab">
                    <a class="tab__link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
            {% endif %}
                {% endfor %}
        {% if site.github_username %}
            <li class="tab">
                {% include icon-github.html username=site.github_username %}
            </li>
        {% endif %}
        {% if site.twitter_username %}
            <li class="tab">
                {% include icon-twitter.html username='search?q=%23smartflanders' %}
            </li>
        {% endif %}
  </ul>
</div>
