<header class="content-header content-header--alt content-header--large content-header--has-context" role="banner">
	<div class="content-header__wrapper">
		<div class="content-header__bg">
		<picture>
			<source media="(min-width: 1024px)" srcset="{{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg 1x">
				<source media="(max-device-width: 767px)" srcset="{{ site.baseurl }}/assets/img/page_banner_mobile_alt/header.jpg 1x">
					<source media="(max-width: 1023px)" srcset="{{ site.baseurl }}/assets/img/page_banner_narrow/header.jpg 1x">
						<img alt="" src="{{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg" srcset="{{ site.baseurl }}/assets/img/page_banner_mobile_alt/header.jpg 320w, {{ site.baseurl }}/assets/img/page_banner_narrow/header.jpg 1024w, {{ site.baseurl }}/assets/img/page_banner_wide_alt/header.jpg 1600w" title="">
			</picture>
		</div>

		<div class="layout layout--wide">
			<div class="content-header__content">

        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <div class="content-header__logo-wrapper">
          <a href="{{ site.baseurl }}/" class="content-header__entity-logo content-header__entity-logo--black">
            <span class="content-header__entity-logo__title">Vlaamse Open City Architectuur</span>
					</a>
      	</div>
        {% for crumb in crumbs offset: 1 %}

          {% if forloop.index0 ==  0 %}
        	<div class="content-header__context content-header__context--has-link">
          	<a class="content-header__context__link" href="{{ site.baseurl }}/{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          </div>
          {% elsif forloop.last %}
          <div class="content-header__title content-header__title--has-link" itemprop="name">
            <h1 class="content-header__title__link" href="#">{{ page.title }}</h1>
          </div>
          {% endif %}

        {% endfor %}

      </div>
		</div>
	</div>
</header>
