<div class="region region--mobile-navigation layout layout--wide">
  <div id="block-mobilenavigation" class="block block-webuniversum-blocks block-webuniversum-mobile-navigation">
    <nav class="mobilemenu">
			<button type="button" class="mobilemenu__toggle vi vi-burger">
			<span>Menu</span>
			</button>
			<div class="mobilemenu__wrapper">
  			<ul data-mobilemenu-depth="1">
          <li class="mobilemenu__link active-trail"><a href="{{ site.baseurl }}/nieuws" class="active-trail {% if page.url contains '/nieuws'%}active{% endif %}">Nieuws</a></li>
          <li class="mobilemenu__link active-trail"><a href="{{ site.baseurl }}/initiatieven" class="active-trail {% if page.url contains '/initiatieven'%}active{% endif %}">Initiatieven</a></li>
          <li class="mobilemenu__link active-trail"><a href="{{ site.baseurl }}/over-vloca" class="active-trail {% if page.url contains '/over-vloca'%}active{% endif %}">Over VLOCA</a></li>
          <li class="mobilemenu__link active-trail"><a href="{{ my_page.url | relative_url }}" class="active-trail {% if page.url contains '/veelgestelde-vragen'%}active{% endif %}">Veelgestelde vragen</a></li>
  			</ul>
      </div>
		</nav>
  </div>
</div>
