<div id="block-topnavigation" class="block block-webuniversum-blocks block-webuniversum-top-navigation">
	<div class="top-navigation top-navigation--white">
	  <div class="layout layout--wide">
	    <div class="grid">
	      <div class="col--9-12 col--9-12--m col--1-1--s">
		      <nav role="navigation" class="top-navigation-wrapper">
		        <div class="top-navigation__content">
		          <ul class="top-navigation__group">
                <li class="top-navigation__item"><a href="{{ site.baseurl }}/nieuws" class="active-trail {% if page.url contains '/nieuws'%}active{% endif %}">Nieuws</a></li>
								<li class="top-navigation__item"><a href="{{ site.baseurl }}/initiatieven" class="active-trail {% if page.url contains '/initiatieven'%}active{% endif %}">Initiatieven</a></li>
								<li class="top-navigation__item"><a href="{{ site.baseurl }}/over-vloca" class="active-trail {% if page.url contains '/over-vloca'%}active{% endif %}">Over VLOCA</a></li>
								<!-- <li class="top-navigation__item"><a href="{{ my_page.url | relative_url }}" class="active-trail {% if page.url contains '/veelgestelde-vragen'%}active{% endif %}">Veelgestelde vragen</a></li> -->
							</ul>
		        </div>
		      </nav>
		    </div>
		  </div>
		</div>
	</div>
</div>
