---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="region intro">
    <div class="layout layout--condensed">
    	<div class="grid">

			<div class="content__wrapper col--1-1">
				<div class="headings">
					<h1 class="h1">{{page.title | escape}}</h1>
				</div>
			 </div>
		</div>
			
    </div>
  </header>
  <div class="layout layout--wide">
	  <div class="grid grid--is-stacked u-spacer">
		  <div class="col--1-1 show-tablet show-desktop">
		  <section class="region paragraphs">
			{{ content }}
		  </section>
		  </div>
	  </div>
   </div>
</article>
