header.content-header {
  background: red;
  picture {
    height: 100%;
    max-height: none;
  }
  .content-header {
    &__title h1{
      margin: 0;
    }

    &__title__link {
      margin-bottom: 0;
    }
  }
}
