.home {

  .region{
    &.trajecten {
      padding-top: 4rem !important;

      @media only screen and (min-width: 767px) {
        padding-top: 16rem !important;
      }
    }
  }


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.columnLeft {
  float: left;
  width: 8%;
  padding: 4px;
}

.columnMid {
  float: left;
  width: 80%;
  padding: 10px;
}

.columnRight {
  float: left;
  width: 12%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  
  .intro {
    .grid > div:last-child{
      margin-top: 4rem;
    }
  }

  .content-split {
    @media only screen and (min-width: 767px) {
      margin-bottom: -8rem;
    }
  }

}

.slick-slide {
  height: 10rem !important;
  @media only screen and (min-width: 767px){
    height: 315px !important;
  }
}

.twitterBorder {
  border: 3px solid #1da1f2;
  border-radius: 10px;
}
