.home {

  .region{
    &.trajecten {
      padding-top: 4rem !important;

      @media only screen and (min-width: 767px) {
        padding-top: 16rem !important;
      }
    }
  }

  .intro {
    .grid > div:last-child{
      margin-top: 4rem;
    }
  }

  .content-split {
    @media only screen and (min-width: 767px) {
      margin-bottom: -8rem;
    }
  }

}

.slick-slide {
  height: 10rem !important;
  @media only screen and (min-width: 767px){
    height: 315px !important;
  }
}
