.spotlight {
  padding: 0;
  margin: 0;

  &.yellow,
  &.yellow:hover,
  &.yellow:focus {
    &.spotlight--link:before,
    &:before {
      background-color: $yellow;
    }
  }
}

.spotlight__header{
  max-height: none;
  margin: 0;
}


// Nieuws spotlight
.nieuws .spotlight {

  .spotlight__title-wrapper {
    padding-left: 0;

    &:before {
      content:none;
    }
    .spotlight__title{
      padding: 1rem 2rem;
      display: inline-block;
      max-width: 85%;
      margin-bottom: 0;
    }

  }


  .spotlight__text{
    padding: 0 2rem 1rem 2rem;
  }

  .bullet-list--tag {
    padding-left:2rem;
  }

}

// Initiatieven spotlight
.initiatieven .spotlight {
  .spotlight__title-wrapper{
    margin-bottom: 0;
    transform: none;
    padding: 1rem 0;

    &:before,
    &:after {
      content: none;
    }

  }

  .spotlight__title,
  .spotlight__text {
    max-width: none;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
  }

}
